In [25]:
import pandas as pd
from statsmodels.tsa.holtwinters import ExponentialSmoothing
import matplotlib as plot
import warnings
import numpy as np
from statsmodels.tools.sm_exceptions import ConvergenceWarning
warnings.simplefilter('ignore', ConvergenceWarning)

In [2]:
# Read the csvs into pandas
food_cpi_df = pd.read_csv("food_cpi_cleaned.csv", index_col="Date")
food_cpi_df.head()

             CPI
Date
1952-01-01  31.2
1952-02-01  30.7
1952-03-01  30.7
1952-04-01  30.8
1952-05-01  30.8

In [7]:
fm_foodcpi_df = pd.read_csv("food_cpi_filtered_match.csv", index_col='Date')
gas_clean_df = pd.read_csv("gas_prices_cleaned.csv", index_col='Date')
fm_gas_df = pd.read_csv("gas_prices_cleaned.csv", index_col="Date")

fm_foodcpi_df.tail()

                CPI
Date
2020-09-01  251.303
2020-10-01  251.478
2020-11-01  251.241
2020-12-01  252.009
2021-01-01  252.270

In [6]:
fm_gas_df.tail()

,all_grades_all_formulation,all_grades_conventional,all_grades_reformulated,regular_all_formulation,regular_conventional,regular_reformulated,midgrade_all_formulation,midgrade_conventional,midgrade_reformulated,premium_all_formulation,premium_conventional,premium_reformulated,no_2_diesel
Date,,,,,,,,,,,,,
2020-12-28,2.330,2.225,2.535,2.243,2.158,2.423,2.634,2.482,2.858,2.889,2.770,3.031,2.635
2021-01-04,2.336,2.227,2.549,2.249,2.160,2.437,2.639,2.484,2.867,2.895,2.771,3.042,2.640
2021-01-11,2.403,2.298,2.610,2.317,2.232,2.498,2.702,2.550,2.927,2.959,2.839,3.101,2.670
2021-01-18,2.464,2.351,2.688,2.379,2.285,2.579,2.759,2.601,2.995,3.014,2.885,3.166,2.696
2021-01-25,2.478,2.363,2.703,2.392,2.298,2.593,2.776,2.615,3.014,3.033,2.900,3.191,2.716

In [23]:
fm_gas_df.dtypes

all_grades_all_formulation    float64
all_grades_conventional       float64
all_grades_reformulated       float64
regular_all_formulation       float64
regular_conventional          float64
regular_reformulated          float64
midgrade_all_formulation      float64
midgrade_conventional         float64
midgrade_reformulated         float64
premium_all_formulation       float64
premium_conventional          float64
premium_reformulated          float64
no_2_diesel                   float64
dtype: object

In [11]:
#setup frequency as monthly
fm_gas_df=fm_gas_df.asfreq("M")
fm_gas_df.index

DatetimeIndex(['1995-01-31', '1995-02-28', '1995-03-31', '1995-04-30',
               '1995-05-31', '1995-06-30', '1995-07-31', '1995-08-31',
               '1995-09-30', '1995-10-31',
               ...
               '2020-03-31', '2020-04-30', '2020-05-31', '2020-06-30',
               '2020-07-31', '2020-08-31', '2020-09-30', '2020-10-31',
               '2020-11-30', '2020-12-31'],
              dtype='datetime64[ns]', name='Date', length=312, freq='M')

In [31]:
#create/train model

In [15]:
# predict and forecast with the magic of the python

predictions= model.forecast(24)

In [16]:
predictions

2021-01-31   NaN
2021-02-28   NaN
2021-03-31   NaN
2021-04-30   NaN
2021-05-31   NaN
2021-06-30   NaN
2021-07-31   NaN
2021-08-31   NaN
2021-09-30   NaN
2021-10-31   NaN
2021-11-30   NaN
2021-12-31   NaN
2022-01-31   NaN
2022-02-28   NaN
2022-03-31   NaN
2022-04-30   NaN
2022-05-31   NaN
2022-06-30   NaN
2022-07-31   NaN
2022-08-31   NaN
2022-09-30   NaN
2022-10-31   NaN
2022-11-30   NaN
2022-12-31   NaN
Freq: M, dtype: float64

In [28]:
# Linear regression 
from sklearn import linear_model
from sklearn import preprocessing, svm
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [34]:
x=(fm_gas_df,['Date'])
y=fm_gas_df,['all_grades_all_formulation'].values.reshape(-1, 1)

lm = linear_model.LinearRegression()
model = lm.fit(x.values.reshape(-1, 1),y)

predictions = lm.predict(y.values.astype(float64).reshape(-1, 1))

f, ax = plt.subplots(1, 1)
ax.plot(y, predictions,label='Linear fit')
ax.scatter(x, y,label='value', marker='o', color='r')
plt.ylabel('all_grades_all_formulation')
ax.legend();

plt.show()

AttributeError: 'list' object has no attribute 'values'