In [1]:
# SQLAlchemy
from sqlalchemy import create_engine
from sqlalchemy import inspect
# Pandas
import pandas as pd
from config_file import password

In [2]:
#!pip install ipython-sql

Requirement already satisfied: ipython-sql in c:\users\defen\anaconda3\envs\mlenv\lib\site-packages (0.4.1)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\users\defen\anaconda3\envs\mlenv\lib\site-packages (from ipython-sql) (1.4.32)
Requirement already satisfied: sqlparse in c:\users\defen\anaconda3\envs\mlenv\lib\site-packages (from ipython-sql) (0.4.3)
Requirement already satisfied: six in c:\users\defen\anaconda3\envs\mlenv\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\users\defen\anaconda3\envs\mlenv\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: prettytable<1 in c:\users\defen\anaconda3\envs\mlenv\lib\site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: ipython>=1.0 in c:\users\defen\anaconda3\envs\mlenv\lib\site-packages (from ipython-sql) (7.31.1)
Requirement already satisfied: backcall in c:\users\defen\anaconda3\envs\mlenv\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: decorator in c:\users\defen\anaconda3\envs\mlenv\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\defen\anaconda3\envs\mlenv\lib\site-packages (from ipython>=1.0->ipython-sql) (0.18.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\defen\anaconda3\envs\mlenv\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.20)
Requirement already satisfied: setuptools>=18.5 in c:\users\defen\anaconda3\envs\mlenv\lib\site-packages (from ipython>=1.0->ipython-sql) (61.2.0)
Requirement already satisfied: pickleshare in c:\users\defen\anaconda3\envs\mlenv\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: pygments in c:\users\defen\anaconda3\envs\mlenv\lib\site-packages (from ipython>=1.0->ipython-sql) (2.11.2)
Requirement already satisfied: traitlets>=4.2 in c:\users\defen\anaconda3\envs\mlenv\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: colorama in c:\users\defen\anaconda3\envs\mlenv\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.4)
Requirement already satisfied: matplotlib-inline in c:\users\defen\anaconda3\envs\mlenv\lib\site-packages (from ipython>=1.0->ipython-sql) (0.1.2)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\defen\anaconda3\envs\mlenv\lib\site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: wcwidth in c:\users\defen\anaconda3\envs\mlenv\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: importlib-metadata in c:\users\defen\anaconda3\envs\mlenv\lib\site-packages (from sqlalchemy>=0.6.7->ipython-sql) (4.11.3)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\defen\anaconda3\envs\mlenv\lib\site-packages (from sqlalchemy>=0.6.7->ipython-sql) (1.1.1)
Requirement already satisfied: zipp>=0.5 in c:\users\defen\anaconda3\envs\mlenv\lib\site-packages (from importlib-metadata->sqlalchemy>=0.6.7->ipython-sql) (3.7.0)
Requirement already satisfied: typing-extensions>=3.6.4 in c:\users\defen\anaconda3\envs\mlenv\lib\site-packages (from importlib-metadata->sqlalchemy>=0.6.7->ipython-sql) (4.1.1)

In [3]:
 #!pip install psycopg2-binary

Requirement already satisfied: psycopg2-binary in c:\users\defen\anaconda3\envs\mlenv\lib\site-packages (2.9.3)

In [4]:
import psycopg2

## (Maybe)Another method to import the data from pgAdmin(postgreSQL)

In [8]:
conn = psycopg2.connect(user="postgres",
                       password=password,
                       host="localhost",
                       port="5432",
                       database="FinalProject")

In [9]:
cursor = conn.cursor()
postgreSQL_select_Query = "select * from food_cpi_full"

cursor.execute(postgreSQL_select_Query)

In [10]:
CPI_price = cursor.fetchall()

In [12]:
CPI_price_df = pd.read_sql("select * from food_cpi_full",conn)

In [13]:
CPI_price_df

           date      CPI
0    1952-01-01   31.200
1    1952-02-01   30.700
2    1952-03-01   30.700
3    1952-04-01   30.800
4    1952-05-01   30.800
..          ...      ...
842  2022-03-01  278.735
843  2022-04-01  281.653
844  2022-05-01  285.711
845  2022-06-01  288.618
846  2022-07-01  292.495

[847 rows x 2 columns]