In [3]:
# SQLAlchemy
from sqlalchemy import create_engine
from sqlalchemy import inspect
# Pandas
import pandas as pd
from config_file import password

In [ ]:
#!pip install ipython-sql

In [11]:
# !pip install psycopg2-binary

Requirement already satisfied: psycopg2-binary in c:\users\julie\anaconda4\lib\site-packages (2.9.3)

In [18]:
import psycopg2

## (Maybe)Another method to import the data from pgAdmin(postgreSQL)

In [19]:
conn = psycopg2.connect(user="postgres",
                       password=password,
                       host="localhost",
                       port="5432",
                       database="FinalProject")

In [20]:
cursor = conn.cursor()
postgreSQL_select_Query = "select * from CPI"

cursor.execute(postgreSQL_select_Query)

In [21]:
CPI_price = cursor.fetchall()

In [23]:
CPI_price_df = pd.read_sql("select * from CPI",conn)

In [24]:
CPI_price_df

           DATE      CPI
0    1952-01-01   31.200
1    1952-02-01   30.700
2    1952-03-01   30.700
3    1952-04-01   30.800
4    1952-05-01   30.800
..          ...      ...
842  2022-03-01  278.735
843  2022-04-01  281.653
844  2022-05-01  285.711
845  2022-06-01  288.618
846  2022-07-01  292.495

[847 rows x 2 columns]